<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">Products</a></li>
          <li><a href="/add-users">Add User</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <ul>
        <li>iPhone 13</li>
        <li>MacBook Air 2021</li>
        <li>Microsoft Windows</li>
      </ul>
    </main>
  </body>
</html>
